<section class="menu">
    
    <div class="container menu-admin">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="menu-opciones">
                    <a href="/usuarios"><img src="/imagenes/G-usuarios.png" alt="Icono Gestion de Usuario"></a>
                    <div class="overlay">
                        <p>Gestion Usuarios</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="menu-opciones">
                    <a href="/proveedores"><img src="/imagenes/proveedores.png" alt="Icono Gestion de Usuario"></a>
                    <div class="overlay">
                        <p>proveedores</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="menu-opciones">
                    <a href="/clientes"><img src="/imagenes/clientes.png" alt="Icono Gestion de Usuario"></a>
                    <div class="overlay">
                        <p>Clientes</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="menu-opciones">
                    <a href="/productos"><img src="/imagenes/productos.png" alt="Icono Gestion de Usuario"></a>
                    <div class="overlay">
                        <p>productos</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="menu-opciones">
                    <a href="/configuraciones"><img src="/imagenes/configuraciones.png" alt="Icono Gestion de Usuario"></a>
                    <div class="overlay">
                        <p>Configuraciones</p>
                    </div>
                </div>
            </div>           
            <div class="col-12 col-md-6 col-lg-4">
                <div class="menu-opciones">
                    <a href="/reportes"><img src="/imagenes/reportes.png" alt="Icono Gestion de Usuario"></a>
                    <div class="overlay">
                        <p>Reportes</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>